body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    /* height: 100%; */
}

h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 90%;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px  hsl(220, 15%, 55%);
}

img {
    border-radius: 10px;
}

.attribution {
    /* take out of the stacking context; use absolute positioning: so it doesn't decenter .card */
    /* position: relative; */
    /* top: 100px; */
    position: absolute; 
    bottom: 10px;
    /* position: fixed; */
    /* bottom: 0px; left: 50%; right: 50%; */
}

/* default style */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }