body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 90%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px  hsl(0, 0%, 76%);
}


h3 { font-weight: 700; margin-bottom: 0; }

p { font-weight: 300;}

img { border-radius: 10px; }

footer {
    margin: 2em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    /* margin-top: 20px; */
    /* position: absolute;
    margin: auto;
    bottom: 10px; */
}
.attribution a { color: hsl(228, 45%, 44%); }